.formulario__de__pago {
    height: 100%;
}

.formulario__de__pago textarea{
    resize: none;
    outline: 1px solid var(--celeste-color);
    border-radius: 15px;
    padding: 1rem;
    color: rgb(134, 134, 134);
}

.input__container {
    display: flex;
    width: 100%;
    align-items: center;
    color: white;
}

.input-container  {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background: rgba(81, 179, 201, 0.67);
    height: 3rem;
    width: 100%;
}

.input__container input {
    background: rgba(81, 179, 201, 0.797);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding-left: 1rem;
    color: rgb(236, 236, 236);
    height: 3rem;
}

.input__container input:focus {
    outline: none;
}

.input__container-save {
    display: flex;
    gap: 1.5rem;
}

.contenedorpagar__pregunta {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.contenedorpagar__pregunta label {
    font-size: 1.2rem;
    color: var(--celeste-color);
    font-weight: 600;
}

.contenedorpagar__pregunta input {
    padding: 1rem .5rem;
    border: none;
    outline: 1px solid var(--celeste-color);
    border-radius: 5px;
}

.codigo__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.codigo__container input {
    width: 70%;
    outline: 1px solid var(--celeste-color);
    border: none;
    padding: .5rem 1rem;
    border-radius: 5px;
}

.codigo__container button {
    padding: .3rem .5rem;
    background: rgb(231, 231, 231);
    color: rgb(0, 0, 0);
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    margin-top: 1rem;
    width: 100%;
    transition: background .3s ease;
}

.codigo__container button:hover {
    background: rgb(188, 188, 188);
}

.style__text-black {
    color: black;
}

.style__text-blue {
    color: var(--celeste-color);
}

.style__text-red {
    color: red;
}

.begin__main-overlay {
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.932);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}